.see-more {
    display: flex;
    width: 8vw;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.see-more:hover {
    background-color: coral;
}